* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(226, 224, 221);
}

/* Start button */
.start-button {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 12em;
    height: 5em;
	box-shadow:inset 0px 200px 0px -150px #95bd82;
	background-color:#80b864;
	border-radius:60px;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:28px;
	padding:10px 50px;
	text-shadow:0px 1px 0px #81ab65;
}
.start-button:hover {
	background-color:#8bb874;
}

/* Score board */
.score-board {
    display: none;
}

/* Memory board */
.memory-board {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 40em;
    height: 40em;
    perspective: 1000px;
}

/* Memory card */
.memory-card {
    background-color: thistle;
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    border: 5px solid rgb(241, 239, 239);
    border-radius: 5px;
}
.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}
.memory-card.flip {
    transform: rotateY(180deg);
}
.memory-card img {
    width: 90%;
    height: 90%;
    margin: 8px;
}
.back {
    transform: rotateY(180deg);
}
.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

/* Toggle these classes */
.hide {
    display: none;
}
.show {
    display: flex;
}