* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(226, 224, 221);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:Trebuchet MS;
}
button {
    position: absolute;
    top: 40%;
    width: 12em;
    height: 5em;
	border-radius:60px;
	cursor:pointer;
	color:#ffffff;
	font-size:28px;
	padding:10px 50px;
}
/* Start button */
.start-button {
	box-shadow:inset 0px 200px 0px -150px #95bd82;
    background-color:#80b864;
	text-shadow:0px 1px 0px #81ab65;
}
.start-button:hover {
	background-color:#8bb874;
}

/* Replay button */
.replay-button {
    box-shadow:inset 0px 200px 0px -150px #886eb8;
    background-color:#7d64b8;
    text-shadow:0px 1px 0px #9565ab;
    display: none;
}
.replay-button:hover {
	background-color:#705ca0;
}
.show-replay-button {
    display: initial;
}
/* Score board */
.score-board {
    display: none;
    margin-top: 1em;
}
.score-board h2 {
    font-size: 2em;

}
.score-board p {
    padding-left: 0.5em;
    font-size: 2em
}
.show-score-board {
    display: flex;
}

/* Memory board */
.memory-board {
    position: absolute;
    top: 10%;
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 40em;
    height: 40em;
    perspective: 1000px;
}
.show-memory-board {
    display: flex;
}
/* Memory card */
.memory-card {
    background-color: thistle;
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    border: 5px solid rgb(241, 239, 239);
    border-radius: 5px;
    overflow:visible
}
.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}
.memory-card.flip {
    transform: rotateY(180deg);
}
.memory-card img {
    width: 90%;
    height: 90%;
    margin: 8px;
}
.back {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);
}
.front {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
}
.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    opacity: 2;
}

/* Toggle these classes */
.hide {
    display: none;
}
